<% require_relative 'sql.rb' %>
<link rel="stylesheet" href="/css/style.css">
<body>
<% arr = contact_reader(user_id) %>

<table style="width:100%">
<tr>
<th>name</th> <th>phone</th> <th>address</th><th>relationship</th> <th>comment</th>
</tr> 
<% arr = contact_reader(user_id) %>
<% arr.each do |contact|%>
    <tr>
    <% contact.each do |item| %>
        <td>
        <%= item %>
        </td>
    <%end%>
    </tr>
<%end%>
</table>
<br>
Create a contact: <br>
<form action='/add' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='text' name='name' placeholder='name' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: Billy Bob Joe Harris' required>
<input type='text' name='phone' placeholder='phone'] pattern="[0-9(-)-]{10,30}" title='Example: (304)-555-5555'  required>
<input type='text' name='address' placeholder='address' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: 123 Applebees plaza' required>
<input type='text' name='relationship' placeholder='relationship' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title="Example: Acquaintence" required>
<input type='text' name='comment' placeholder='comment' pattern="[a-zA-Z0-9 /s /( /) ' -]{1,240}" title='' required>
<input type='submit' value='Submit'>
</form>
Delete a contact: <br>
<form action='/delete' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='text' name='name' placeholder='name' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: Billy Bob Joe Harris' required>
<input type='text' name='phone' placeholder='phone'] pattern="[0-9(-)-]{10,30}" title='Example: (304)-555-5555'  required>
<input type='text' name='address' placeholder='address' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: 123 Applebees plaza' required>
<input type='text' name='relationship' placeholder='relationship' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title="Example: Acquaintence" required>
<input type='text' name='comment' placeholder='comment' pattern="[a-zA-Z0-9 /s /( /) ' -]{1,240}" title='' required>
<input type='submit' value='Delete'>
</form>
Edit a contact: <br>
<form action='/edit' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='text' name='name' placeholder='name' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: Billy Bob Joe Harris' required>
<input type='text' name='phone' placeholder='phone'] pattern="[0-9(-)-]{10,30}" title='Example: (304)-555-5555'  required>
<input type='text' name='address' placeholder='address' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title='Example: 123 Applebees plaza' required>
<input type='text' name='relationship' placeholder='relationship' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}" title="Example: Acquaintence" required>
<input type='text' name='comment' placeholder='comment' pattern="[a-zA-Z0-9 /s /( /) ' -]{1,240}" title='' required><br>
<input type='text' name='name2'  placeholder='name' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}"  title='Example: Billy Bob Joe Harris' required>
<input type='text' name='phone2' placeholder='phone'] pattern="[0-9(-)-]{10,30}" title='Example: (304)-555-5555'  required>
<input type='text' name='address2' placeholder='address' pattern="[a-zA-Z0-9 ]{1,240}" title='Example: 123 Applebees plaza' required>
<input type='text' name='relationship2' placeholder='relationship' pattern="[a-zA-Z0-9 /s /( /) ' -]{3,35}"  title="Example: Acquaintence" required>
<input type='text' name='comment2' placeholder='comment' pattern="[a-zA-Z0-9 /s /( /) ' -]{1,240}" title='' required>
<input type='submit' value='Replace'>
</form>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<form action='/back' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='submit' value='Back'>
</form>