<link rel="stylesheet" href="C:\Users\UserJ\Desktop\Coding\phonebook\public\css/style.css">
<% require_relative 'csv.rb' %>
<% arr = [] %>
<% readfrompage(arr) %>
First Name | Last Name | Address | Phone Number | Email Address <br>
<% arr.each do |row| %>
  <%= row[0] %>
  <%= row[1] %>
  <%= row[2] %>
  <%= row[3] %>
  <%= row[4] %>
  <br>
<% end %>
<form action='/addperson' method='post'>
<input type='Submit' value='Add Person'>
</form>